{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<br><br><br>
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <h2>Listado de camiones</h2>
            <div class="container text-center">
                <a href="{% url 'nuevo_camion' %}" class="btn btn-warning btn-sm">Nuevo Vehículo</a>
            </div>
            <hr>
            <div class="row">
                <form method="GET" action="{% url 'vehiculos' %}" class="mb-4">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Buscar por patente">
                        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                    </div>
                </form>
                <div class="row">

            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>PPU</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Fecha Inspección</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    
                    
                </tr>

                {% for p in camiones %}
                <tr>
                    <td>{{ p.ppu | upper }}</td>
                    <td>{{ p.marca | upper }}</td>
                    <td>{{ p.modelo | upper }}</td>
                    <td>{{ p.anio | upper }}</td>
                    <td>{{ p.ultima_inspeccion }}</td>
                    <td>{{ p. }} </td>
                    <td>
                        <a href="{% url 'eliminar_camion' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
    <script>
        function confirmarEliminar(ppu) {
            console.log('Confirmar eliminar llamado para PPU:', ppu);
            return confirm('¿Estás seguro de que deseas eliminar el camión con PPU: ' + ppu + '?');
        }
    </script>



    {% endblock %}