{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<br>
<div class="container">
    <h1>Modificar</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="button" onclick="cancelar()" class="btn btn-secondary">Cancelar</button>
        <input type="submit" class="btn btn-primary" value="Guardar" />

    </form>
    
</div>

<script>
    function cancelar() {
        window.location.href = "{% url 'listar_camion' %}";
    }
</script>

{% endblock %}