{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container mt-5 d-flex align-items-center justify-content-center">

    <div class="banner text-center">
        <div class="banner-content">
            <img src="{% static 'app/img/logo.jpeg' %}" class="img-fluid" alt="Logo de FichaApp">
            <h3 class="p-2 bg-dark text-white">Optimiza la gestión de tus flotas de transporte</h3>
        </div><br><br><br><br>
    </div>

</div>

<div class="container text-center">
    <div class="container text-center">
        <div class="container text-center">
            <h2 class="p-2 bg-warning text-white">Nuestra Visión</h2>
            <p>Mejorar el control de las grandes empresas hacia sus empresas transportistas contratadas y llevar un
                control eficiente de la flota es nuestra misión.</p>
        </div>

        <div class="container text-center">
            <h2 class="p-2 bg-dark text-white">Nuestros Servicios</h2>
            <ul>
                <p>Monitoreo del estado de los vehículos</p>
                <p>Programación de próximos monitores.</p>
                <p>Optimización de la información de los vehículos.</p>
            </ul>
        </div>
    </div>


</div>




<div class="container text-center">
    <h2 class="p-2 bg-danger text-white">Contacto</h2>
    <p>Telefono: +569-59273942</p>
    <p>Correo: Fichaapp@gmail.com</p>
    <p>Ubicación: Las Condes</p>
</div>


{% endblock %}


