{% extends 'app/base.html' %}
{% load static %}




{% block contenido %}

<div class="container text-center">
    <br>
    <div class="container text-center">
        <form method="post">
            {% csrf_token %}
            {{ formulario.as_p }}

            <a href="{% url 'editar_ficha_camion' camion_id=camion.id %}" class="btn btn-warning">Editar Ficha</a>
        </form>
    </div><br>
    <h1>INFORME DEL VEHÍCULO</h1>


    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            {% if camion.imagen %}
            <img src="{{ camion.imagen.url }}" alt="Imagen Principal del Vehículo" class="img-fluid rounded"
                style="max-width: 500px; max-height: 500px;">
            {% else %}
            <p>No hay imagen disponible</p>
            {% endif %}
            <br><br><br><br>


            <h2 style="color: rgb(240, 24, 24);">{{ camion.ppu }}</h2>

            <div class="row mb-4">
                <div class="col-md-6">
                    <h5 class="card-text">Marca</h5>
                    <h2>{{ camion.marca.nombre }}</h2><br>
                </div>

                <div class="col-md-6">
                    <h5 class="card-text">Modelo </h5>
                    <h2>{{ camion.modelo.nombre }}</h2><br>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-md-6">
                    <h5 class="card-text">Año</h5>
                    <h2>{{ camion.anio }}</h2>
                </div>

                <div class="col-md-6">
                    <h5 class="card-text">Kilometraje Actual</h5>
                    <h2>{{ camion.km }}</h2>
                </div>
            </div><br>



            <div class="row mb-4">
                <div class="col-md-6">
                    <h3 class="card-text">Revisión Técnica</h3>
                    <h5>{{ camion.revision_tecnica }}</h2>
                </div>

                <div class="col-md-6">
                    <h3 class="card-text">Periso de circulación</h3>
                    <h5>{{ camion.permiso_circulacion }}</h5>
                </div>
            </div><br>



            <div class="row mb-4">
                <div class="col-md-6">
                    <h3 class="card-text">Última inspección</h3>
                    <h5>{{ camion.ultima_inspeccion }}</h5>
                </div>

                <div class="col-md-6">

                    <h2 class="card-text">SOAP</h2>
                    <h5>{{ camion.soap }}</h5><br>
                </div>
            </div><br>

            <h3 class="card-text" style="color: rgb(56, 183, 24);">Próxima Inspección</h3>
            <h5 style="color: rgb(56, 183, 24);">{{ camion.proxima_inspeccion }}</h5>


        </div>
    </div>
    <br><br><br>
    <div>
        <h1>ESTADO</h1>
        <td>
            {% if camion.estado %}
            <p style="color:green;font-size:24px;">✅</p> <!-- Marca de verificación verde -->
            {% else %}
            <p style="color:red;font-size:24px;">❌</p> <!-- Marca de X roja -->
            {% endif %}
        </td>
    </div>
    <br><br><br>

    <div class="row mb-4">
        <div class="col-md-6">
            <h3>EXTERIOR DEL CAMIÓN</h3>
            <p class="card-text">Puertas: {{ camion.exteriorcamion.puertas }}</p>
            <p class="card-text">Espejos: {{ camion.exteriorcamion.espejos }}</p>
            <p class="card-text">Ventanas: {{ camion.exteriorcamion.ventanas }}</p>
            <p class="card-text">Focos: {{ camion.exteriorcamion.focos }}</p>
            <p class="card-text">Parachoques: {{ camion.exteriorcamion.parachoques }}</p>
            <p class="card-text">Capot: {{ camion.exteriorcamion.capot }}</p>
            <p class="card-text">Techo: {{ camion.exteriorcamion.techo }}</p>
            <p class="card-text">Comentarios: {{ camion.exteriorcamion.comentarios }}</p>
        </div>

        <div class="col-md-6">
            <h3>INTERIOR DEL CAMIÓN</h3>
            <p class="card-text">Tapiz: {{ camion.interiorcamion.tapiz }}</p>
            <p class="card-text">Asientos: {{ camion.interiorcamion.asientos }}</p>
            <p class="card-text">Talero: {{ camion.interiorcamion.talero }}</p>
            <p class="card-text">Cerradura: {{ camion.interiorcamion.cerradura }}</p>
            <p class="card-text">Botones: {{ camion.interiorcamion.botones }}</p>
            <p class="card-text">Limpiaparabrisas: {{ camion.interiorcamion.limpiaparabrisas }}</p>
            <p class="card-text">Asientos: {{ camion.interiorcamion.asientos }}</p>
            <p class="card-text">Comentarios: {{ camion.interiorcamion.comentarios }}</p>
        </div>
    </div>
    <br><br><br>

    <div class="row mb-4">
        <div class="col-md-6">
            <h3>ELECTRONICA Y SEGURIDAD</h3>
            <p class="card-text">Testigos del Tablero: {{ camion.electronicaSeguridad.luces_testigos }}</p>
            <p class="card-text">Airbags: {{ camion.electronicaSeguridad.airbags }}</p>
            <p class="card-text">Comentarios: {{ camion.electronicaSeguridad.comentarios }}</p>
        </div>

        <div class="col-md-6">
            <h3>SUSPENSIÓN Y FRENOS</h3>
            <p class="card-text">Funcionamiento Dirección: {{ camion.suspensionFrenos.direccion_funcionamiento }}</p>
            <p class="card-text">Condición Amortiguadores: {{ camion.suspensionFrenos.amortiguadores_condicion }}</p>
            <p class="card-text">Estado de Frenos: {{ camion.suspensionFrenos.frenos_estado }}</p>
            <p class="card-text">Comentarios: {{ camion.suspensionFrenos.comentarios }}</p>
        </div>
    </div>
    <br><br><br>

    <div class="row mb-4">
        <div class="col-md-6">
            <h3>MOTOR</h3>
            <p class="card-text">Condición del Motor: {{ camion.motor.condicion_motor }}</p>
            <p class="card-text">Rudio de Motor: {{ camion.motor.ruido_motor }}</p>
            <p class="card-text">Cableado: {{ camion.motor.cableado }}</p>
            <p class="card-text">Comentarios: {{ camion.motor.comentarios }}</p>
            <p class="card-text">Condición de Batería: {{ camion.motor.condicion_bateria }}</p>
            <p class="card-text">Humo Visible: {{ camion.motor.humo_visible }}</p>
            <p class="card-text">Estado de Mangueras: {{ camion.motor.mangueras_motor }}</p>
            <p class="card-text">Condición Carter de Aceite: {{ camion.motor.condicion_carter_aceite }}</p>
            <p class="card-text">Sistema de Refrigeración: {{ camion.motor.sistema_refrigeracion }}</p>
            <p class="card-text">Condición de Transmisión: {{ camion.motor.condicion_transmision }}</p>
            <p class="card-text">Comentarios: {{ camion.motor.comentarios }}</p>
        </div>

        <div class="col-md-6">
            <h3>ESCANER</h3>
            <p class="card-text">Sistema ABS: {{ camion.escaner.sistema_abs }}</p>
            <p class="card-text">Ecu Transmisión: {{ camion.escaner.ecu_transmision }}</p>
            <p class="card-text">Ecu Airbag: {{ camion.escaner.ecu_airbag }}</p>
            <p class="card-text">Comentarios: {{ camion.escaner.comentarios }}</p>
        </div>

    </div>
    <br><br><br>

    <div class="row mb-4">
        <div class="col-md-6">
            <h3>LLANTAS</h3>
            <p class="card-text">Condición de Neumáticos: {{ camion.llantas.condicion_neumaticos }}</p>
            <p class="card-text">Comentarios: {{ camion.llantas.comentarios }}</p>
        </div>
    </div>
    <br><br><br>

    <div class="row mb-4">
        <h3>FOTOS</h3>
        {% if camion.fotos.imagen1 %}
        <img src="{{ camion.fotos.imagen1.url }}" alt="Imagen 1" class="img-fluid rounded"
            style="max-width: 500px; max-height: 500px;">
        {% endif %}
        {% if camion.fotos.imagen2 %}
        <img src="{{ camion.fotos.imagen2.url }}" alt="Imagen 2" class="img-fluid rounded"
            style="max-width: 500px; max-height: 500px;">
        {% endif %}
        {% if not camion.fotos.imagen1 and not camion.fotos.imagen2 %}
        <p>No hay fotos disponibles</p>
        {% endif %}
    </div>





    <br><br><br>

</div>


{% endblock %}